<div class="main-layout">
    <mat-toolbar class="bg-white border-bottom bg-white">
        <!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button> -->

        <div class="d-flex justify-content-between w-100">
            <div class="user  d-flex align-items-center align-content-center ">
                <button mat-icon-button>
                    <mat-icon class="text-bolder">keyboard_arrow_left</mat-icon>
            </button>
                <img src="../../../../assets/logo/logo-sm.png" />
                <strong class="ml-3">TheChats</strong>
            </div>

            <div class="user  d-flex align-items-center align-content-center ">
                <div class="form">
                    <input placeholder="Search" class="form-control">
                </div>
            </div>

            <div class="user  d-flex align-items-center align-content-center ">
                <mat-list>
                    <mat-list-item routerLink="/chat">
                        <div mat-list-icon (click)="drawer.toggle()" class="user-pic-con"></div>
                        <strong class="user-name" mat-line>Saint Zion Success</strong>

                    </mat-list-item>
                </mat-list>
            </div>
            <div class="icon-links d-flex align-items-center align-content-center">
                <div class="icon-con ml-3">
                </div>
                <div class="icon-con ml-3">
                </div>
                <div class="icon-con ml-3">
                </div>
            </div>
        </div>
    </mat-toolbar>

    <router-outlet>
    </router-outlet>

    <!-- <div class="p-3 bg-light text-center">Footer</div> -->
</div>