<div class="main-layout">
    <mat-toolbar class="bg-white border-bottom bg-white">
        <!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button> -->

        <div class="d-flex justify-content-between w-100">
            <div class="user  d-flex align-items-center align-content-center ">
                <div class="d-flex align-items-center align-content-center">
                    <button (click)="location.back()" class="backBtn justify-content-center  d-flex align-items-center align-content-center" mat-icon-button>
                        <mat-icon class="text-bolder">arrow_back_ios</mat-icon>
                </button>
                </div>

                <img class="ml-4" src="../../../../assets/logo/logo-sm.png" />
                <strong class="ml-3">TheChats</strong>
            </div>

            <div class="user  d-flex align-items-center align-content-center hide-mobile">
                <div class="form">
                    <input placeholder="Search" class="form-control">
                </div>
            </div>

            <div class="user  d-flex align-items-center align-content-center hide-mobile">
                <mat-list>
                    <mat-list-item>
                        <div mat-list-icon class="user-pic-con" mat-list-icon style="background-image: url('../../../../assets/img/user-male.svg')" [matMenuTriggerFor]="userMoreInfo" mat-icon-button>
                        </div>
                        <strong mat-line class="user-name">{{apiService.LOGGED_IN_USER.firstname}} {{apiService.LOGGED_IN_USER.lastname}}</strong>

                    </mat-list-item>
                </mat-list>
            </div>

            <div class="icon-links d-flex align-items-center align-content-center ">
                <button routerLink="/email-test" routerLinkActive="main-layout-active" mat-icon-button class="main-gray-bg justify-content-center d-flex align-items-center align-content-center">
                    <mat-icon>email</mat-icon>
                </button>

                <button routerLink="/chat" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="main-layout-active" mat-icon-button class="main-gray-bg ml-4 justify-content-center d-flex align-items-center align-content-center">
                    <mat-icon> chat</mat-icon>
                </button>

                <button routerLink="/profile/{{apiService.LOGGED_IN_USER.id}}" routerLinkActive="main-layout-active" mat-icon-button class="ml-4  main-gray-bg justify-content-center d-flex align-items-center align-content-center">
                    <mat-icon>person</mat-icon>
                </button>

                <button routerLink="/users" routerLinkActive="main-layout-active" mat-icon-button class="ml-4 main-gray-bg justify-content-center d-flex align-items-center align-content-center">
                    <mat-icon>group</mat-icon>
                </button>
            </div>


        </div>
    </mat-toolbar>
    <mat-menu #userMoreInfo="matMenu">
        <mat-list class="cursor-pointer">
            <mat-list-item>
                <h4 mat-line class="text-bolder">{{apiService.LOGGED_IN_USER.firstname}} {{apiService.LOGGED_IN_USER.lastname}}</h4>
                <p mat-line class="main-green-color">{{apiService.LOGGED_IN_USER.email}}</p>
            </mat-list-item>
        </mat-list>

        <a routerLink="/profile/{{apiService.LOGGED_IN_USER.id}}" mat-menu-item>
            <span>Profile</span>
        </a>

        <button routerLink="/profile/{{apiService.LOGGED_IN_USER.id}}" mat-menu-item>
            <span>Settings</span>
        </button>

        <button (click)="sharedService.logOutDialog()" mat-menu-item>
            <span class="text-danger">Logout</span>
          </button>
    </mat-menu>
    <router-outlet>
    </router-outlet>

    <!-- <div class="p-3 bg-light text-center">Footer</div> -->
</div>