<div class="register pb-5 d-flex align-content-center align-items-center w-100 justify-content-center">
    <div class="container ">
        <div>
            <div class="floating-img one">
                <img class="breathing2" src="../../../../assets/img/chat-2-p-1.svg">
            </div>

            <div class="floating-img two">
                <img class="breathing1" src="../../../../assets/img/chat-2-p-2.svg">
            </div>

            <div class="the-with mx-auto">
                <div class="row  no-gutters ">
                    <div class="col-md-6 auth-show-case text-center animated fadeInUp">

                        <div class="logo d-flex align-content-center align-items-center justify-content-center">
                            <img src="../../../../assets/logo/logo-sm.png" alt="logo">
                            <h1 class="">
                                ChatPlus</h1>
                        </div>

                        <div class="user-pic-style mb-4">
                            <img class="male animated fadeInLeft delay-1s" width="100px" src="../../../../assets/img/user-male.svg">
                            <img class="female animated fadeInRight delay-1s" width="100px" src="../../../../assets/img/user-female.svg">
                        </div>
                        <p class="mb-4 mt-3">Chat Plus helps you connect and share with people.</p>

                        <div class="earth-img mt-2r">
                            <img class="rotate" src="../../../../assets/img/The-Earth.svg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 auth-form bg-white animated fadeInDown">
                        <form [formGroup]="registerForm" (ngSubmit)="register()">

                            <div *ngIf="loading" class="form-spinal-con d-flex  justify-content-center align-content-center align-items-center">
                                <div>
                                    <div class="lds-roller">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <p class="text-bolder">Hold on please..</p>
                                </div>
                            </div>
                            <div>
                                <h1>Register</h1>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput formControlName="firstname" type="text" placeholder="Firstname" required>
                                        <mat-hint *ngIf="submited && f.firstname.errors?.required || (f.firstname?.errors && (f.firstname?.dirty && f.firstname.errors?.required))" class="text-danger">Firstname is required</mat-hint>
                                        <mat-hint *ngIf="f.firstname.errors?.maxlength && f.firstname.dirty" class="text-danger">Maxlength is 30</mat-hint>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput formControlName="lastname" type="text" placeholder="Lastname" required>
                                        <mat-hint *ngIf="submited && f.lastname.errors?.required || (f.lastname?.errors && (f.lastname?.dirty && f.lastname.errors?.required))" class="text-danger">Lastname is required</mat-hint>
                                        <mat-hint *ngIf="f.lastname.errors?.maxlength && f.lastname.dirty" class="text-danger">Maxlength is 30</mat-hint>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-12">
                                    <mat-form-field>
                                        <input matInput formControlName="email" type="email" placeholder="Email Address" required>
                                        <mat-hint *ngIf="submited && f.email.errors?.required || (f.email?.errors && (f.email?.dirty && f.email.errors?.required))" class="text-danger">Email is required</mat-hint>
                                        <mat-hint *ngIf="f.email.errors?.maxlength && f.email.dirty" class="text-danger">Maxlength is 30</mat-hint>
                                        <mat-hint *ngIf="f.email.errors?.email && f.email.dirty" class="text-danger">Please provid a valid email</mat-hint>

                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput formControlName="password" type="password" autocomplete="false" placeholder="Password" required>
                                        <mat-hint *ngIf="submited && f.password.errors?.required || (f.password?.errors && (f.password?.dirty && f.password.errors?.required))" class="text-danger">Password is required</mat-hint>
                                        <mat-hint *ngIf="f.password.errors?.minlength && f.password.dirty || f.password.errors?.maxlength && f.password.dirty" class="text-danger">Minlegth is 6, Maxlength is 30</mat-hint>
                                    </mat-form-field>

                                </div>

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput formControlName="conf_password" type="password" autocomplete="false" maxlength="15" placeholder="Confirm Password" required>
                                        <mat-hint *ngIf="submited && f.conf_password.errors?.required || (f.conf_password?.errors && (f.conf_password?.dirty && f.conf_password.errors?.required))" class="text-danger">Confirm your Password</mat-hint>

                                        <mat-hint *ngIf="f.conf_password?.errors?.mustMatch && f.conf_password?.dirty " class="text-danger">
                                            Password must match
                                        </mat-hint>

                                    </mat-form-field>

                                </div>
                            </div>





                            <div class="mt-2">
                                <button class="  main-black-btn px-5 w-100" mat-raised-button>Register</button>
                                <div class="d-flex justify-content-between w-100 form-nav text-center">
                                    <a class="mt-2 " mat-button> <span class="main-green-color">Forgot password?</span></a>
                                    <a class="mt-2" routerLink="/auth/login" mat-button>I'm a member > <span class="main-green-color">Login</span></a>
                                </div>

                            </div>

                        </form>
                        <div class="text-center mt-4">
                            <!-- <strong class="mb-4 d-block">- Or -</strong> -->

                            <div class="d-flex justify-content-around">
                                <button mat-icon-button class="main-gray-bg">
            <mat-icon class="main-black-color">donut_small</mat-icon>
        </button>
                                <button mat-icon-button class="main-gray-bg">
            <mat-icon class="text-primary">donut_small</mat-icon>
        </button>
                                <button mat-icon-button class="main-gray-bg">
            <mat-icon class="text-danger">donut_small</mat-icon>
        </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-8 border-raius-7  mx-auto text-center  mt-4 footer">
                    <div class="">
                        <a class="ml-3 d-inline-block " routerLink="/reg">About & Contact</a>
                        <a class="ml-3 d-inline-block " routerLink="/reg">Developer</a>
                        <a class="ml-3 d-inline-block " routerLink="/reg">API</a>
                        <a class="ml-3 d-inline-block " routerLink="/reg">Privacy policy</a>
                        <a class="ml-3 d-inline-block" routerLink="/reg">Version: <span class="main-green-color">1.0.6</span></a>
                    </div>

                    <div class="mt-4">
                        <a class="d-inline-block" routerLink="/reg">&copy; Copyright, <span  class="main-green-color">Chat PLus </span>, 2020.</a>
                    </div>
                </div>
            </div>

            <!-- <div class="form-container sign-in-container text-center pt-4">
                <div class="form" action="#">
                    <h1>Sign in</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>or use your account</span>
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Password" />
                    <p> <a href="#">Forgot your password?</a></p>
                    <div>
                        <button class="main-black-bg shadow-sm">Sign In</button>
                    </div>






                </div>
            </div> -->





            <!-- <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button mat-button class="ghost border-white" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
</div>