:host ::ng-deep {
    $main-gray: #F5F5F5;
    $main-green: #08E6C2;
    $main-black: #000000;
    .sidenav-container {
        height: 100%;
    }
    .sidenav {
        width: 369px;
        .mat-toolbar {
            background: #ffffff;
            .icon-con {
                width: 36px !important;
                height: 36px !important;
                border-radius: 100px;
                background-color: $main-gray;
            }
            .user-pic-con {
                width: 40px !important;
                height: 40px !important;
                border-radius: 100px;
                background-color: $main-gray;
            }
            .user {
                .user-pic {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        .mat-nav-list {
            .user-pic-con {
                width: 50px !important;
                height: 50px !important;
                border-radius: 100px;
                background-color: $main-gray;
            }
        }
    }
    .sidenav.bg {
        background-image: url('../../../../assets//img/Side_Bar.svg');
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }
    .mat-sidenav-content {
        .mat-toolbar {
            position: sticky;
            top: 0;
            z-index: 1;
            .user-pic-con {
                width: 40px !important;
                height: 40px !important;
                border-radius: 100px;
                background-color: $main-gray;
            }
            .icon-con {
                width: 36px !important;
                height: 36px !important;
                border-radius: 100px;
                background-color: $main-gray;
            }
            .mat-list-text {
                span {
                    line-height: 1.5 !important;
                }
            }
        }
        .footer {
            position: sticky;
            bottom: 0;
            z-index: 1;
            width: 100%;
            overflow: hidden;
            .mat-toolbar {
                background-color: #ffffff !important;
            }
            .mat-icon {
                height: 30px;
                width: 30px;
                font-size: 30px;
            }
        }
    }
    .user-pic-con.mat-list-icon {
        padding: 0 !important;
        margin: 0 !important;
    }
    // 
    .ql-container.ql-snow {
        background-color: #f5f5f5;
        border: 1px solid #eee;
        border-radius: 60px;
        height: 45px;
        &:hover {
            border-color: $main-green !important;
        }
    }
    .search-form {
        .form-control {
            border-radius: 60px;
        }
    }
    .mat-list-base .mat-list-item .mat-line {
        text-overflow: ellipsis !important;
        span:last-of-type {
            overflow: hidden;
            text-overflow: ellipsis !important;
        }
    }
    @media (max-width:767px) {
        .sidenav {
            width: 100% !important;
        }
        .router-outlet {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    @media (max-width: 991.93px) {
        .hide-mobile {
            display: none !important;
        }
    }
}