<div class="animated fadeInUp pt-3 pb-5" style=" min-height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto">

                <div class="profile-cover-pic text-center border border-radius-8  bg-white mb-1">
                    <button *ngIf="loggedIn" mat-icon-button class="bg-white mt-3   bg-white shadow">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <div class=" profile-pic shadow-sm ">
                        <button *ngIf="loggedIn " mat-icon-button class="bg-white mt-3  bg-white shadow ">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="bg-white border border-radius-8 px-3 ">
                    <mat-list>
                        <mat-list-item class="position-relative ">
                            <span mat-line class="text-bolder ">Saint Zion</span>
                            <span class="status " mat-line>Software dev.</span>
                            <div>
                                <button mat-raised-button class="main-black-btn px-5 ">Follow</button>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>

                <div class="row no-gutters m-0 mt-4 ">
                    <div class="col-md-6 p-1 mb-2 ">
                        <div class="border p-3 h-100 bg-white border-radius-8 ">
                            <strong>Info</strong>
                            <p>* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                                * * * * *
                            </p>
                        </div>


                    </div>


                    <div class="col-md-6 p-1 mb-2 ">
                        <div class="border p-3 h1-100 bg-white border-radius-8 ">
                            <mat-nav-list class="p-0 ">
                                <mat-list>
                                    <mat-list-item class="position-relative ">

                                        <mat-icon mat-list-icon class=" main-gray-bg main-black-color ">location_on</mat-icon>

                                        <span mat-line><strong>From: </strong>Califonia, USA</span>
                                    </mat-list-item>
                                    <mat-list-item class="position-relative ">
                                        <mat-icon mat-list-icon class=" main-gray-bg main-black-color ">people</mat-icon>
                                        <span mat-line><strong>Followers: </strong> * * * *</span>
                                    </mat-list-item>
                                    <mat-list-item class="position-relative ">

                                        <mat-icon mat-list-icon class=" main-gray-bg main-black-color ">people_outline</mat-icon>
                                        <span mat-line><strong>Following: </strong> * * * *</span>
                                    </mat-list-item>

                                </mat-list>
                            </mat-nav-list>
                        </div>
                    </div>

                    <div class="col-md-6 p-1 ">
                        <div class="border p-3 h-100 bg-white border-radius-8 ">
                            <strong>Other Info</strong>
                            <mat-nav-list>
                                <mat-list>
                                    <mat-list-item class="position-relative ">
                                        <mat-icon mat-list-icon class=" main-gray-bg main-black-color ">person</mat-icon>
                                        <span mat-line><strong>Age: </strong> * * *</span>
                                    </mat-list-item>

                                    <mat-list-item class="position-relative ">
                                        <mat-icon mat-list-icon class=" main-gray-bg main-black-color ">person</mat-icon>
                                        <span mat-line><strong>Occupation: </strong> * * *</span>
                                    </mat-list-item>

                                    <mat-list-item class="position-relative ">
                                        <mat-icon mat-list-icon class=" main-gray-bg main-black-color ">person</mat-icon>
                                        <span mat-line><strong>Religion: </strong> * * *</span>
                                    </mat-list-item>



                                </mat-list>
                            </mat-nav-list>
                        </div>
                    </div>

                    <div class="col-md-6 p-1 ">
                        <div class="border h-100 p-3 bg-white border-radius-8 ">
                            <strong>Socials</strong>
                        </div>
                    </div>
                </div>
                <div class="mt-4 text-center ">
                    <button mat-raised-button class="main-black-btn px-5 ">Block This User</button>
                </div>
            </div>





            <!-- <div class="col-md-7 feed mx-auto ">
                <p class="mt-4 mb-2 main-black-color ">Meet People</p>
            </div>
            <div class="col-md-7 feed mx-auto border bg-white ">
                <mat-nav-list>
                    <mat-list>
                        <mat-list-item class="position-relative ">
                            <mat-icon mat-list-icon class="user-pic-con "></mat-icon>
                            <span mat-line>Saint Zion</span>
                            <span class="status " mat-line>Software dev.</span>
                            <div>
                                <button mat-raised-button class="main-black-btn ">Follow</button>
                            </div>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-icon mat-list-icon class="user-pic-con "></mat-icon>
                            <span mat-line>Mahammed B.</span>
                            <span class="status " mat-line>NDA</span>
                            <div>
                                <button mat-raised-button class="main-black-btn ">Follow</button>
                            </div>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-icon mat-list-icon class="user-pic-con "></mat-icon>
                            <span mat-line>Goodluck Jona</span>
                            <span class="status " mat-line>Politics</span>
                            <div>
                                <button mat-raised-button class="main-black-btn ">Follow</button>
                            </div>
                        </mat-list-item>
                    </mat-list>

                </mat-nav-list>
            </div> -->

        </div>
    </div>
</div>