:host ::ng-deep {
    $main-gray: #F5F5F5;
    $main-green: #08E6C2;
    $main-black: #000000;
    .chat-box .user-name {
        margin-bottom: 0;
        font-size: 17px;
    }
    .chat-box .user-name span {
        font-size: 14px;
        font-weight: 200;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .me,
    .you {
        padding-top: 8px;
        padding-bottom: 0 !important;
        margin-bottom: 8px;
    }
    .chat-box .card {
        border-radius: 20px;
    }
    .chat-box .card .card-body {
        padding: 0.50rem;
        padding-bottom: 0 !important;
    }
    .chat-box .card p {
        font-size: 14px;
    }
    .chat-box .chat-box-inner {
        display: inline-block;
        width: auto;
    }
    .you {
        .sent-icon {
            color: rgba(0, 0, 0, 0.4);
            font-size: 12px !important;
            .mat-icon {
                font-size: 18px;
                color: #03ecb2;
            }
        }
    }
    .you.img {
        img,
        video {
            border-radius: 9px;
        }
        .card {
            // background-color: $main-gray;
            background-color: transparent;
            color: #ffffff;
            border: 0;
            .sent-icon {
                color: $main-green;
                font-size: 12px !important;
                .mat-icon {
                    font-size: 18px;
                    color: $main-green;
                }
            }
            // .d-flex {
            //     -webkit-box-pack: end!important;
            //     justify-content: flex-end!important;
            // }
        }
    }
    .me {
        .chat-box .card {
            background-color: $main-green;
            color: #ffffff;
            border: 0;
        }
        .sent-icon {
            color: #fff;
            font-size: 12px !important;
            .mat-icon {
                font-size: 18px;
                color: #ffffff;
            }
        }
        .chat-box-inner {}
        p {
            padding: 10px;
        }
    }
    .me.img {
        img,
        video {
            border-radius: 9px;
        }
        .card {
            background-color: transparent;
            color: #ffffff;
            border: 0;
            .sent-icon {
                color: $main-green;
                font-size: 12px !important;
                .mat-icon {
                    font-size: 18px;
                    color: $main-green;
                }
            }
            .d-flex {
                -webkit-box-pack: end!important;
                justify-content: flex-end!important;
            }
        }
    }
    .me {
        justify-content: flex-end !important
    }
    .me .chat-box .chat-box-inner {
        float: right;
    }
    .row.animate-custom:last-of-type {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
    }
    video,
    img {
        max-width: 300px !important;
    }
    @media (max-width: 991.93px) {
        video,
        img {
            max-width: 100% !important;
        }
    }
}