<div class="container">
    <div class=" you row animated animate-custom faster you">
        <div class=" col-11 chat-box">
            <div class="chat-box-inner d-flex">
                <!-- <p class="user-name">{{data.userName}}<span></span></p> -->
                <button mat-icon-button class="bg-light border mr-1">
                <mat-icon>person</mat-icon>
            </button>
                <div class="card">
                    <div class="card-body">
                        <p class="mb-0"> Hi, repellendus voluptate. Repellat, atque? </p>
                        <div>
                            <small class="float-right sent-icon"><mat-icon class="mb-0">done_all</mat-icon></small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class=" you row animated animate-custom faster me">
        <div class=" col-11 chat-box">
            <div class="chat-box-inner d-flex">
                <!-- <p class="user-name">{{data.userName}}<span></span></p> -->
                <div class="card">
                    <div class="card-body">
                        <p class="mb-0"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptates quidem vero culpa ab aperiam quas fugit excepturi asperiores. Nesciunt molestias iste nostrum, autem perspiciatis reiciendis repellendus voluptate. Repellat,
                            atque? </p>
                        <div>
                            <small class="float-right sent-icon"><mat-icon class="mb-0">done_all</mat-icon></small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" you row animated animate-custom faster me image">
        <div class=" col-11 chat-box">
            <div class="chat-box-inner">
                <!-- <p class="user-name">{{data.userName}}<span></span></p> -->
                <div class="card">
                    <div class="card-body">
                        <img style="width: 30%;" src="../../../../assets/img/Aggital-2018-in-Review-6.jpg">
                        <div>
                            <small class="float-right sent-icon"><mat-icon class="mb-0">done_all</mat-icon></small>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>